// *** NAVIGATION IN PATIENT FILE ***
#arrow-back {
  font-size: 32px;
  color: $deepkoamaru;
  
  &:hover{
    transform: translateX(-2px);
    transition: transform 100ms ease-in;
    // &::after{
    //   transform: translateX(+2px);
    //   transition: 120ms ease-in;
    // }
  }
}

// *** PATIENT FILE ***
#patient-file{
  border-radius: 40px 10px 5px 5px;
  // border: solid 1px $deepkoamaru;
  box-shadow: -5px 10px 10px 10px rgba(0, 0, 0, 0.2);
  min-height: 90vh;
  width: 85vw;
}

#patient-file-header{
  border-radius: 40px 10px 0px 0px;
  height: 15vh;
}

.fas{
  // margin-right: ;
  font-size: 32px;
  color: $eerieblack;
}

hr{
  border: solid 2px $deepkoamaru;
  border-radius: 5px;
}

#patient-tab-content{
  min-height: 800px;
  max-width: 94%;
  overflow: scroll;
  background-color: #F8F8FF;
  border: 1px solid #F4F4FC;
}