// *** ADD CONSULTATION ***
#add-consultation{
  animation: spin 600ms ease-in-out;
  animation-delay: 3s;
  animation-iteration-count: 1;

  &:hover{
    transform: translate(-1px, -1px);
    transition: transform 100ms ease-in;
    -webkit-transition: transform 100ms ease-in;
    -moz-transition: transform 100ms ease-in;
    -o-transition: transform 100ms ease-in;
  }
}

@keyframes spin
{
  100%
  {
    -webkit-transform: rotate(180deg);
    // transform: rotate(180deg);   
  }
}



// *** SCROLLSPY LIST-ITEMS *** 

#list-example{
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  // margin-top: 8px;
  margin-left: 8px;
}

.list-group-item{
  background-color: #ffffff;
  color: $eerieblack;
  font-weight: normal;
  text-align: center;
}

.list-group-item.active{
  background-color: $queenblue;
  border-color: $queenblue;
  color: #ffffff;
  
  font-weight: bold;
  text-align: center;
}

.list-group-item:first-child{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.list-group-item:nth-last-child(1){
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}


  // *** CARDS WRAPPER ***
div.scrollspy-example{
  height: 600px;
  overflow-y: scroll;
  margin-bottom: 8px;
  // &:first-child{
  //   padding-top: 8px;
  // }
}