// *** ADD CONSULTATION ***
#add-consultation{
  // animation: spin 400ms ease-in-out;
  // animation-delay: 3s;
  // animation-iteration-count: 1;
  &:hover{
    animation: spin 500ms ease-in-out;
  }
}

@keyframes spin
{
  100%
  {
    -webkit-transform: rotate(180deg);
    // transform: rotate(180deg);   
  }
}

// *** SCROLLSPY LIST-ITEMS *** 
#list-example{
  width: 90%;
}

.list-group-item{
  background-color: #ffffff;
  color: $eerieblack;
  font-weight: normal;
  text-align: center;
}

.list-group-item.active{
  background-color: $queenblue;
  border-color: $queenblue;
  color: #ffffff;
  
  font-weight: bold;
  text-align: center;
}

.list-group-item:first-child{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.list-group-item:nth-last-child(1){
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}


  // *** CARDS WRAPPER ***
div.scrollspy-example{
  // background: $mustard;
  height: 790px;
  overflow-y: scroll;
}

// *** CREATE CONSULTATION STICKY BUTTON ***