
<div class="row d-flex justify-content-center">

  <div class="w-50 h-50">
    <canvas id="glucoseChart" aria-label="Hello ARIA World" role="img"></canvas>
  </div>

  <div class="w-50 h-50">
    <canvas id="glucosePieChart" aria-label="Hello ARIA World" role="img"></canvas>
  </div>


  <div id="essaiT" data-dates_enable="<%= @glycemic_value.to_json %>"></div>


  <div>
    <%= render partial: "new", glucose_level: @glucose_level %>
  </div>

</div>
