<div class="w-50 h-50">
  <canvas id="glucoseChart" ></canvas>
</div>


<%= link_to new_patient_glucose_level_path do %>
  <button id="nav-new" class="btn-primary btn-new" onclick="openTab(event, 'new-glucoselevel')">Ajouter une glycemie</button>
<% end %>

<div id="essaiT" data-dates_enable="<%= @glycemic_value.to_json %>"></div>


<!-- <script>


const a = JSON.parse(document.getElementById('essaiT').dataset.dates_enable);

EssaiBtn = document.getElementById("btn_essai");
EssaiBtn.addEventListener("focusbaout", (event) => {
    console.log(a);

  });



</script>
 -->
