<div class="w-50 h-50">
  <canvas id="glucoseChart" ></canvas>
</div>


<div id="essaiT" data-dates_enable="<%= @glycemic_value.to_json %>"></div>


<!-- <script>


const a = JSON.parse(document.getElementById('essaiT').dataset.dates_enable);

EssaiBtn = document.getElementById("btn_essai");
EssaiBtn.addEventListener("focusout", (event) => {
    console.log(a);

  });



</script>
 -->
