<section class="banner">
</section>
<section class="arguments py-3">
  <div class="text-center py-3">
    <div class="subheader mb-0 pb-0">Une connaisance parfaite de votre patient</div>
    <h2 class="mt-0 pt-0">Vous n'aurez plus de doute sur les besoins de vos patients ! </h2>
  </div>
  <div class="row">
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="git fas fa-file-medical-alt" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>SUIVI</h3>
          <p class="text-muted">Un historique des patients accessible à tous moments !</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-syringe" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>PRESCRIPTION</h3>
          <p class="text-muted">Fini les doutes sur les doses à prescrire !</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3 text-center">
      <div class="px-0">
        <div class="icon-rounded bg-primary-light mb-3">
          <div class="mb-3"><i class="fas fa-diagnoses" style="font-size: 42px; color: #4F4F4F;"></i></div>
          <h3>DOCTEUR</h3>
          <p class="text-muted">La présence d'un docteur dans dans suivi des patients!</p>
        </div>
      </div>
    </div>
  </div>
</section>
