<div class="container-fluid" style="height: 100vh;">
  <div class="d-flex flex-column pt-3">
    <h1 class="mb-3">Créer un patient</h1>
    <%= render 'shared/newpatient_form', patient: @patient %>
  </div>
</div>