.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 72px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-bordered-dashboard {
  width: 140px;
  border-radius: 50%;
  border: white 3px solid;
}

.avatar-square {
  width: 40px;
  padding: 0px 0px;
  margin: 0px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  
  // &:hover{
  //   width: 200px;
  //   position: relative;
  //   transform: translate(+5px, 0px);
  //   transition: width 300ms ease-in;
  //   display: block;
  //   z-index: 999;
  //   overflow: visible;
  // }
}

.avatar-zoom{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 200px;
  // transition: width 300ms ease-in;
}
