.patient-card{
  width: 290px;
  height: 150px;
  padding: 8px 8px;
  margin: 0px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $white;
  border-radius: 5px;

  &:hover, &:active, &:focus{
    border: 1px solid #EDF2F4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &:hover{
    transform: translate(-2px, -2px);
    transition: transform 100ms ease-in;
    -webkit-transition: transform 100ms ease-in;
    -moz-transition: transform 100ms ease-in;
    -o-transition: transform 100ms ease-in;
  }
}

.consultation-card-header{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 16px;
}

.consultation-card{
  padding: 8px 8px;
  margin: 0px 16px 16px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

  ul > li{
    list-style: none;
    margin: 0px 6px 0px 6px;
    padding: 6px 0px 6px 0px;
    background-color: $bluelagoon;
    border-radius: 20px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

    > i{
      color: #ffffff;
      font-size: 24px;
    }

  }
}

.sub-card{
  max-width: 98%;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 4px 12px;
}

.ticket-question{
  width: 85%;
  padding: 4px 4px;
  margin: 0px 0px 8px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $deepkoamaru;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  > div{
    color: #FFFFFF;
    text-align: center;
  }
}

.prescription-card{
  padding: 20px 30px;
  margin: 0px 16px 16px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

  ul > li{
    list-style: none;
    margin: 0px 6px 0px 6px;
    padding: 6px 0px 6px 0px;
    background-color: $bluelagoon;
    border-radius: 20px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

    > i{
      color: #ffffff;
      font-size: 24px;
    }

  }
}

