.patient-card{
  width: 290px;
  height: 100px;
  padding: 8px 0px;
  margin: 0px 4px;
  border-radius: 50px;
  border: 1px solid #EDF2F4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background: $white;

  &:hover, &:active, &:focus{
    border: 1px solid #EDF2F4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &:hover{
    transform: translate(-2px, -2px);
    transition: transform 100ms ease-in;
    -webkit-transition: transform 100ms ease-in;
    -moz-transition: transform 100ms ease-in;
    -o-transition: transform 100ms ease-in;
  }
}

.consultation-card-header{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 16px;
}

.consultation-card{
  padding: 8px 8px;
  margin: 0px 16px 16px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

  ul > li{
    list-style: none;
    margin: 0px 6px 0px 6px;
    padding: 6px 0px 6px 0px;
    background-color: $italianskyblue;
    border-radius: 20px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

    > i{
      color: #ffffff;
      font-size: 24px;
    }

  }
}

.sub-card-1{
  max-width: 98%;
  background: $white;
  border-radius: 5px;
  margin: 4px 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  
  &:hover{
    transform: translate(-1px, -1px);
    transition: transform 100ms ease-in;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    }
}

.sub-card{
  max-width: 98%;
  background: $white;
  margin: 4px 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &:hover{
  transform: translate(-1px, -1px);
  transition: transform 100ms ease-in;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  }
}

.ticket-qa{
  width: 85%;
  padding: 4px 4px;
  margin: 0px 0px 8px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $deepkoamaru;
  border-radius: 10px;
  border: 1px solid #EDF2F4;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2px;

  > div{
    color: #FFFFFF;
    text-align: left !important;
  }
}

.prescription-card{
  padding: 20px 30px;
  margin: 0px 16px 16px 16px;
  border-radius: 5px;
  border: 1px solid #EDF2F4;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

  ul > li{
    list-style: none;
    margin: 0px 6px 0px 6px;
    padding: 6px 0px 6px 0px;
    background-color: $bluelagoon;
    border-radius: 20px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

    > i{
      color: #ffffff;
      font-size: 24px;
    }

  }
}


.ticket-qa.right{
  margin-left: 100px;
  background: $italianskyblue;
}

.fas.fa-quote-left, .fas.fa-quote-right{
  font-size: 18px;
  color: $white;
 }

