.field-title {
  line-height: 120%;
  margin-bottom: 6px !important;
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.9;
  font: italic;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  opacity: 0.9;
  color: $eerieblack;
}

.form-field {
  background: #FFFFFF;
  border: 1px solid #CBD0DA !important;
  border-radius: 3px;

  &:focus::placeholder{
    display: none;
    color: transparent;
  }
}





