.notactive {
  position: absolute;
  width: 369px;
  height: 49px;
  left: 44px;
  top: 529px;
}

.hover{
  position: absolute;
  width: 369px;
  height: 49px;
  left: 44px;
  top: 598px;
}

.active{
  position: absolute;
  width: 369px;
  height: 49px;
  left: 44px;
  top: 667px;
}
