.navbutt{
  position: absolute;
  width: 209px;
  height: 40px;
  left: 45px;
  top: 247px;
}

.navbutt-hov{
  position: absolute;
  width: 209px;
  height: 40px;
  left: 46px;
  top: 307px;
  background: #FFFFFF;
}

.navbutt-act{
  position: absolute;
  width: 209px;
  height: 40px;
  left: 46px;
  top: 366px;
}
