h1, .subheader, h2, h3 {
  font-family: Poppins;
  font-style: normal;
  opacity: 0.9;
  line-height: 120%;
  margin-bottom: 0px !important;
}

h1 {
  font-weight: 700;
  font-size: 42px;
  color: $eerieblack;
}

.subheader {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $bluelagoon;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  color: $eerieblack;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: $text-grey;
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $text-grey;
  opacity: 0.7;
}

th{
  font-weight: Open Sans;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
}

td{
  font-style: Open Sans;
  font-weight: normal;
  font-size: 14px;
}