.container-fluid {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

/* ***--- DASHBOARD CARTRIDGE ---*** */

.cartouche {
  border-radius: 0px 10px 10px 0px;
  background: #43549D;
  opacity: 0.85;
  background-image: linear-gradient(rgba(67, 84, 157, 0.9),rgba(67, 84, 157, 0.9)), asset-url('medic2.svg');
  background-size: cover;
  background-position-x: 60%;
}

#dashboard-username {
  font-weight: 600;
  opacity: 1;
  color: white;
}

#logout{
  position: absolute;
  bottom: 20px;
}

#logout a {
  text-decoration: none;
  color: white;

  &:hover, &:focus, &:active{
    text-decoration: underline;
  }
}

/* ***--- PATIENTS VIEW ---*** */

.container-fluid {
  overflow-y: scroll;
}

// #searchfield{
//   width: 200% !important;
// }

// CLICKABLE ROWS
tr[data-href] {
  cursor: pointer;
}

// TABLE STYLING
table{
  border-spacing: 0px;
  border-color: $queenblue;
}

thead{
  > tr{
    background-color: $mustard;
    > th {
      padding: 8px 0px !important;
      margin: auto 0px;
      color: $deepkoamaru;
    }
  }
}

.avatar-placeholder{
  height: 49px;
}



tbody > tr{
  &:hover{
    > td {
      // letter-spacing: 0.01px;
      // font-style: italic;
    }
  }
  > td{
    // padding: 6px 2px 6px 2px !important;
    padding: 8px 0px !important;
    vertical-align: middle !important;
  }
}
